.table{
    
    width: 60%;
    padding: auto;
    margin: auto; 
    margin-top: 20rem;
    
}
.table th{
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: left;
}

.table td{
    color: #e0e0e0;
    border: 1px solid #e0e0e0; 
    padding: 1rem;

}
#coinimage{
    width: 70px; 
    height: auto;
}
#symbol{
   margin-bottom: 10px;
    text-transform: uppercase;
}
.table td.cred {
    color: red;
    font-size: 20px;
  }

.table td.cgreen {
    color: green;
    font-size: 20px;
  }
  .spin{
    display: flex;
     margin: auto;
     border: 4px solid #f3f3f3;
     border-top: 4px solid #3498db;
     border-radius: 50%;
     width: 40px;
     margin-top: 30rem;
     height: 40px;
     animation: spin 1s linear infinite;
 }
 
 @keyframes spin {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
    .table td .link{
        color: aliceblue;
    text-decoration: none;
    cursor: pointer;

}
   @media screen and (max-width:769px){
    @media (max-width: 769px) {
        .table {
          font-size: 14px; 
        }
      
        .table th,
        .table td {
          padding: 8px; 
        }
      
        .table th:nth-child(1),
        .table td:nth-child(3),
        .table th:nth-child(5),
        .table td:nth-child(5),
        .table th:nth-child(6),
        .table td:nth-child(6),
        .table th:nth-child(9),
        .table td:nth-child(9) {
          display: none; 
        }
      
        #coinimage {
          max-width: 30px; 
        }
      }
      .table{
    
        width: 60%;
        padding: auto;
        margin: auto; 
        margin-top: 20rem;
        margin-left: 21px;
    }

   }